Repository JJ-Dev18/ProjectoFinalDigitalHouse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
- build
- deploy

build-frontend:
  stage: build
  image: node:latest
  script:
  - echo "Compiling the code..."
  - cd FrontEnd
  - npm install --force
  - CI=false npm run build
  artifacts:
    paths:
      - FrontEnd/build 
  rules:
    - changes:
      - FrontEnd/**/*

build-backend:
  stage: build
  image: maven:latest
  script:
  - echo "Compiling the code..."
  - cd BackEnd/DHBooking
  - mvn compile install
  artifacts:
    paths:
      - BackEnd/DHBooking/target/*.jar
  rules:
    - changes:
      - BackEnd/**/*

deploy-frontend:
  stage: deploy
  image: python:latest
  script:
    - echo "Deploying application. FrontEnd.."
    - apt-get update
    - apt-get -y upgrade
    - apt-get install -y awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set region $AWS_DEFAULT_REGION
    - aws s3 sync FrontEnd/build/ s3://0521ptc8n2-g07-fronted-v2 --acl public-read
  rules:
  - changes:
    - FrontEnd/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  script:
    - echo "Deploying application. backend.."
    - apk update && apk add openssh-client bash 
    - mkdir -p ~/.ssh 
    - eval $(ssh-agent -s) 
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null 
    - touch ~/.ssh/config 
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config 
    - ssh-keyscan -H ec2-52-14-228-70.us-east-2.compute.amazonaws.com >> ~/.ssh/known_hosts
    - scp BackEnd/DHBooking/target/*.jar ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com:~/.
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl daemon-reload
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl restart sbapp
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl status sbapp
    - echo "Application OK..."
  rules:
  - changes:
    - BackEnd/**/*

Testing deploy
  FrontEnd/src/components/CategoryBlock.jsx
Due: build-frontend, deploy-frontend

Delete file.yaml
  .gitlab-ci.yml
Due: none

modifying endpoint for depĺoy
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/UserController.java
Due: build-backend, deploy-backend

Testing for deploy in front
  FrontEnd/src/components/CategoryBlock.jsx
Due: build-frontend, deploy-frontend

Test number two for deploy both back and frontend
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/UserController.java
  FrontEnd/src/components/CategoryBlock.jsx
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Restoring branch
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/UserController.java
  FrontEnd/src/components/CategoryBlock.jsx
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

adding route reservations
  FrontEnd/src/App.jsx
Due: build-frontend, deploy-frontend

skeleton add for category cards and recommended cards (HOME)
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Skeleton.jsx
  FrontEnd/src/components/styles/main.css
  FrontEnd/src/components/styles/search-block.css
Due: build-frontend, deploy-frontend

ontroller for bookings
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/User.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adding advances
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenAuthenticationService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/UserAuthenticationService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/ObjectMapperConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/UserController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/RoleDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/UserAuthDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Reservation.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/User.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IUserRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IUserService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

Adjusting jackson annotations
  .gitlab-ci.yml
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenAuthenticationService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/CancellationPolity.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Category.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/City.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/UserAuthDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/UserDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Feature.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Image.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/NormPolicy.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Reservation.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Role.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/SecurityPolicy.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/User.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/UserAuth.java
Due: build-backend, deploy-backend

Adding final version of security
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
Due: build-backend, deploy-backend

Deleting unnecessary folders
  DevOpIT/archivobasura.txt
  FrontEnd/archivobasura.txt.txt
  Testing/archivobasura.txt
Due: build-frontend, deploy-frontend

Merge from features backend 17112022
  BackEnd/DHBooking/pom.xml
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/JWTTokenService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/NoRedirectStrategy.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenAuthenticationFilter.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenAuthenticationProvider.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenAuthenticationService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/TokenService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/UserAuthenticationService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/ObjectMapperConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/UserController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/CancellationPolity.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Category.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/City.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/RoleDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/UserAuthDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/DTO/UserDTO.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Feature.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Image.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/NormPolicy.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Reservation.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Role.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/SecurityPolicy.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/User.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/UserAuth.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IUserRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IUserService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

error in controller name
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
Due: build-backend, deploy-backend

booking event
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/LoginBooking.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/styles/auth/login-booking.css
Due: build-frontend, deploy-frontend

solving warning in searchblok component
  FrontEnd/src/components/Home/SearchBlock.jsx
Due: build-frontend, deploy-frontend

subiendo cambios reserva
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Product-detail/ProductHeader.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/home/search-calendar.css
  FrontEnd/src/components/styles/product-detail/product-reservation.css
  FrontEnd/src/resources/check.svg
Due: build-frontend, deploy-frontend

successful-booking component
  FrontEnd/src/App.jsx
  FrontEnd/src/components/SuccessfulBooking.jsx
  FrontEnd/src/components/styles/successful-booking.css
  FrontEnd/src/resources/success-icon.svg
Due: build-frontend, deploy-frontend

address entity
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Location.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
Due: build-backend, deploy-backend

booking phone done
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/product-detail/product-policies.css
  FrontEnd/src/components/styles/product-detail/product-reservation.css
Due: build-frontend, deploy-frontend

booking tablet done
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
Due: build-frontend, deploy-frontend

Adding listing products by city and available dates
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Merging features_backend 22112022
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Location.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

booking desktop done
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/home/search-calendar.css
  FrontEnd/src/components/styles/product-detail/product-reservation.css
Due: build-frontend, deploy-frontend

Adjusting controller from list bokking by dates and cities
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
Due: build-backend, deploy-backend

Merging features_frontend 23112022
  FrontEnd/archivobasura.txt.txt
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/home/search-calendar.css
  FrontEnd/src/components/styles/product-detail/product-policies.css
  FrontEnd/src/components/styles/product-detail/product-reservation.css
Due: build-frontend, deploy-frontend

Adjusting data format for listAvailable product by city and dates
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

login and register with API
  .gitignore
  FrontEnd/public/index.html
  FrontEnd/src/App.jsx
  FrontEnd/src/App.test.js
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/context/AuthContext.jsx
  FrontEnd/src/hooks/useFetch.jsx
  FrontEnd/src/index.js
  FrontEnd/src/reportWebVitals.js
  FrontEnd/src/resources/categories.json
  FrontEnd/src/resources/cities.json
  FrontEnd/src/resources/close_menu.svg
  FrontEnd/src/resources/facebook-dark.svg
  FrontEnd/src/resources/facebook.svg
  FrontEnd/src/resources/gps.svg
  FrontEnd/src/resources/heart.svg
  FrontEnd/src/resources/img_categoria.png
  FrontEnd/src/resources/instagram-dark.svg
  FrontEnd/src/resources/instagram.svg
  FrontEnd/src/resources/linkedin-dark.svg
  FrontEnd/src/resources/linkedin.svg
  FrontEnd/src/resources/logo_non_desktop.svg
  FrontEnd/src/resources/menu.svg
  FrontEnd/src/resources/recommended.json
  FrontEnd/src/resources/star.png
  FrontEnd/src/resources/star.svg
  FrontEnd/src/resources/swim.svg
  FrontEnd/src/resources/tweeter-dark.svg
  FrontEnd/src/resources/tweeter.svg
  FrontEnd/src/resources/wifi.svg
  FrontEnd/src/setupTests.js
Due: build-frontend, deploy-frontend

feature login
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
Due: build-frontend, deploy-frontend

Adding automatic count of products in categories's description
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ICategoryRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CategoryServiceImpl.java
Due: build-backend, deploy-backend

products by date and city done
  .gitignore
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/DropDown.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

Adding changes in booking controller
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adding count in category description
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ICategoryRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CategoryServiceImpl.java
Due: build-backend, deploy-backend

merging front end 23112022
  FrontEnd/README.md
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Context.jsx
  FrontEnd/src/components/Home/DropDown.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/context/AuthContext.jsx
  FrontEnd/src/hooks/useFetch.jsx
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

Solving date issue home products filter
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adjusting data format for products home filter
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend
