Repository JJ-Dev18/ProjectoFinalDigitalHouse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
- build
- deploy

build-frontend:
  stage: build
  image: node:latest
  script:
  - echo "Compiling the code..."
  - cd FrontEnd
  - npm install --force
  - CI=false npm run build
  artifacts:
    paths:
      - FrontEnd/build 
  rules:
    - changes:
      - FrontEnd/**/*

build-backend:
  stage: build
  image: maven:latest
  script:
  - echo "Compiling the code..."
  - cd BackEnd/DHBooking
  - mvn compile install
  artifacts:
    paths:
      - BackEnd/DHBooking/target/*.jar
  rules:
    - changes:
      - BackEnd/**/*

deploy-frontend:
  stage: deploy
  image: python:latest
  script:
    - echo "Deploying application. FrontEnd.."
    - apt-get update
    - apt-get -y upgrade
    - apt-get install -y awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set region $AWS_DEFAULT_REGION
    - aws s3 sync FrontEnd/build/ s3://0521ptc8n2-g07-fronted-v2 --acl public-read
  rules:
  - changes:
    - FrontEnd/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  script:
    - echo "Deploying application. backend.."
    - apk update && apk add openssh-client bash 
    - mkdir -p ~/.ssh 
    - eval $(ssh-agent -s) 
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null 
    - touch ~/.ssh/config 
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config 
    - ssh-keyscan -H ec2-52-14-228-70.us-east-2.compute.amazonaws.com >> ~/.ssh/known_hosts
    - scp BackEnd/DHBooking/target/*.jar ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com:~/.
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl daemon-reload
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl restart sbapp
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl status sbapp
    - echo "Application OK..."
  rules:
  - changes:
    - BackEnd/**/*

adding user bookings and new get bookings by product
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

deploy booking new endpoint 02122022 backend
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

front deploy 02122022
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/DropDown.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Loading.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/loading-spinner.css
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/context/BookingContext.jsx
  FrontEnd/src/utils/bookings.js
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

forbidden dates for product in calendar booking
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

user booking end
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
Due: build-frontend, deploy-frontend

resolving available dates in booking post
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

deploy booking available dates 02122022
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

front deplot 02122022 forbidden
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

calendar forbidden styles and bug resolved
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/styles/home/search-calendar.css
Due: build-frontend, deploy-frontend

front deploy calendar bug resolved and forbidden styles
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/styles/home/search-calendar.css
Due: build-frontend, deploy-frontend

my bookings ended with routes
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/auth/login.css
  FrontEnd/src/components/styles/home/search-block.css
  FrontEnd/src/components/styles/layout/header.css
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/index.css
Due: build-frontend, deploy-frontend

my bookings mobile
  FrontEnd/src/components/Layout/Header.jsx
Due: build-frontend, deploy-frontend

my bookings mobile
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/auth/login.css
  FrontEnd/src/components/styles/home/search-block.css
  FrontEnd/src/components/styles/layout/header.css
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/index.css
Due: build-frontend, deploy-frontend

success booking ok route
  FrontEnd/src/components/SuccessfulBooking.jsx
Due: build-frontend, deploy-frontend

OK success booking route
  FrontEnd/src/components/SuccessfulBooking.jsx
Due: build-frontend, deploy-frontend

mu bookings styles
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/index.css
Due: build-frontend, deploy-frontend

user bookings more styles
  FrontEnd/src/components/SuccessfulBooking.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/index.css
Due: build-frontend, deploy-frontend

done
  FrontEnd/src/components/SuccessfulBooking.jsx
Due: build-frontend, deploy-frontend

calendar dates
  FrontEnd/src/components/Booking.jsx
Due: build-frontend, deploy-frontend

endpoint bookings by user ID
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

new request for user bookings
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/SuccessfulBooking.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

Merging back end 06122022
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Mergin frontend 06122022
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/SuccessfulBooking.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

Se adiciona devolucion de imagenes en los productos traidos por bookings
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
Due: build-backend, deploy-backend

Merge features backend 07122022819
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
Due: build-backend, deploy-backend

Adding role validation for admin to add product
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/JWTTokenService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/ProductController.java
Due: build-backend, deploy-backend

Adding role admin validation
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/JWTTokenService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/ProductController.java
Due: build-backend, deploy-backend

Making changes to automatize tests in the postman
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/ProductController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IUserRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IUserService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
Due: build-backend, deploy-backend

Merge features_backend 081220221123
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/ProductController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IUserRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IUserService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
Due: build-backend, deploy-backend

details done
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductRating.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/Skeleton.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/home/recommended.css
  FrontEnd/src/components/styles/home/search-block.css
  FrontEnd/src/components/styles/layout/footer.css
  FrontEnd/src/components/styles/layout/header.css
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/context/BookingContext.jsx
  FrontEnd/src/index.css
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

Adding policies controllers for product post
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/CancellationPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/NormPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/SecurityPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ICancellationPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/INormPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ISecurityPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/ICancellationPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/INormPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/ISecurityPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CancellationPolityServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/NormPolityServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/SecurityPolityServiceImpl.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

Adding endpoints for product post UH
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/CancellationPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/NormPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/SecurityPolityController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ICancellationPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/INormPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/ISecurityPolityRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/ICancellationPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/INormPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/ISecurityPolityService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CancellationPolityServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/NormPolityServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/SecurityPolityServiceImpl.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

issue not bookings done
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/utils/bookings.js
Due: build-frontend, deploy-frontend

Adding title and ico
  FrontEnd/public/index.html
Due: build-frontend, deploy-frontend

Solving icon issue in tab
  FrontEnd/public/index.html
Due: build-frontend, deploy-frontend

Adding html icon and tab name
  FrontEnd/public/index.html
Due: build-frontend, deploy-frontend

Features_frontend merge 13122022 114am
  FrontEnd/public/index.html
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductRating.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/Skeleton.jsx
  FrontEnd/src/components/User/UserBookings.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/booking.css
  FrontEnd/src/components/styles/booking/detail-booking.css
  FrontEnd/src/components/styles/booking/form-booking.css
  FrontEnd/src/components/styles/booking/hour-booking.css
  FrontEnd/src/components/styles/home/recommended.css
  FrontEnd/src/components/styles/home/search-block.css
  FrontEnd/src/components/styles/layout/footer.css
  FrontEnd/src/components/styles/layout/header.css
  FrontEnd/src/components/styles/user/user.css
  FrontEnd/src/context/BookingContext.jsx
  FrontEnd/src/index.css
  FrontEnd/src/utils/bookings.js
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

Updating defects of sprint 4
  Testing/Testing Manual/INTEGRADOR DH TESTING.xlsx
  Testing/Testing Manual/Imagenes evidencias - Defectos/Defecto 10 resuelto.png
Due: none

Adding url icon
  FrontEnd/public/index.html
Due: build-frontend, deploy-frontend
