Repository JJ-Dev18/ProjectoFinalDigitalHouse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
- build
- deploy

build-frontend:
  stage: build
  image: node:latest
  script:
  - echo "Compiling the code..."
  - cd FrontEnd
  - npm install --force
  - CI=false npm run build
  artifacts:
    paths:
      - FrontEnd/build 
  rules:
    - changes:
      - FrontEnd/**/*

build-backend:
  stage: build
  image: maven:latest
  script:
  - echo "Compiling the code..."
  - cd BackEnd/DHBooking
  - mvn compile install
  artifacts:
    paths:
      - BackEnd/DHBooking/target/*.jar
  rules:
    - changes:
      - BackEnd/**/*

deploy-frontend:
  stage: deploy
  image: python:latest
  script:
    - echo "Deploying application. FrontEnd.."
    - apt-get update
    - apt-get -y upgrade
    - apt-get install -y awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set region $AWS_DEFAULT_REGION
    - aws s3 sync FrontEnd/build/ s3://0521ptc8n2-g07-fronted-v2 --acl public-read
  rules:
  - changes:
    - FrontEnd/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  script:
    - echo "Deploying application. backend.."
    - apk update && apk add openssh-client bash 
    - mkdir -p ~/.ssh 
    - eval $(ssh-agent -s) 
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null 
    - touch ~/.ssh/config 
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config 
    - ssh-keyscan -H ec2-52-14-228-70.us-east-2.compute.amazonaws.com >> ~/.ssh/known_hosts
    - scp BackEnd/DHBooking/target/*.jar ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com:~/.
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl daemon-reload
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl restart sbapp
    - ssh -t ubuntu@ec2-52-14-228-70.us-east-2.compute.amazonaws.com sudo systemctl status sbapp
    - echo "Application OK..."
  rules:
  - changes:
    - BackEnd/**/*

Adding url icon
  FrontEnd/public/index.html
Due: build-frontend, deploy-frontend

features_create_product_fixes
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Product/AddFeatures.jsx
  FrontEnd/src/components/Product/AddImages.jsx
  FrontEnd/src/components/Product/AddPolicies.jsx
  FrontEnd/src/components/Product/ProductCreate.jsx
  FrontEnd/src/components/Product/ProductHeader.jsx
  FrontEnd/src/components/styles/product/product-create.css
  FrontEnd/src/resources/atomo close.svg
  FrontEnd/src/resources/atomo plus.svg
Due: build-frontend, deploy-frontend

quality stars fixed
  FrontEnd/src/components/Home/Recommended.jsx
Due: build-frontend, deploy-frontend

fixes_header
  FrontEnd/src/components/Layout/Header.jsx
Due: build-frontend, deploy-frontend

fixes_role
  FrontEnd/src/components/Auth/Register.jsx
Due: build-frontend, deploy-frontend

fixed dates search
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/styles/product/product-create.css
  FrontEnd/src/components/styles/user/user.css
Due: build-frontend, deploy-frontend

Adding advances
  Testing/Testing Manual/INTEGRADOR DH TESTING.xlsx
  Testing/Testing Manual/Imagenes evidencias - Casos de prueba/Caso de prueba 52.1.png
  Testing/Testing Manual/Imagenes evidencias - Casos de prueba/Caso de prueba 52.png
  Testing/Testing Manual/Imagenes evidencias - Casos de prueba/Caso de prueba 53.2.png
Due: none

imagen reservas fixed
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/styles/user/user.css
Due: build-frontend, deploy-frontend

Adding v.3.0 changes
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Layout/Header.jsx
Due: build-frontend, deploy-frontend

Merge front end 13122022 620
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Home/Recommended.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/styles/product/product-create.css
  FrontEnd/src/components/styles/user/user.css
Due: build-frontend, deploy-frontend

Agregando reporte final testing
  Testing/REPORTE DE TESTING FINAL.pdf
Due: none

Adding final report test
  Testing/REPORTE DE TESTING FINAL.pdf
Due: none

add_administrator
  FrontEnd/src/App.jsx
  FrontEnd/src/components/SuccessfulProduct.jsx
  FrontEnd/src/hooks/useForm.jsx
Due: build-frontend, deploy-frontend

add readme
  README.md
Due: none

add gh pages
  FrontEnd/package-lock.json
  FrontEnd/package.json
Due: build-frontend, deploy-frontend

modify entorn variables
  .gitignore
  BackEnd/DHBooking/.gitignore
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

change datasource url
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

cambiando backend
  FrontEnd/src/hooks/axiosBase.js
Due: build-frontend, deploy-frontend

changed cors
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
Due: build-backend, deploy-backend

cors url changed
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
Due: build-backend, deploy-backend

comprobando url de aws
  FrontEnd/src/hooks/axiosBase.js
Due: build-frontend, deploy-frontend

chagned cors * again
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
Due: build-backend, deploy-backend

changed variables connexion
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

deploy
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/JWTTokenService.java
Due: build-backend, deploy-backend

change variables properties
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Auth/JWTTokenService.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend
