Repository JJ-Dev18/ProjectoFinalDigitalHouse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

build-frontend:
  stage: build
  image: node:latest
  script:
  - echo "Compiling the code..."
  - cd FrontEnd
  - npm install --force
  - CI=false npm run build
  artifacts:
    paths:
    - FrontEnd/build

build-backend:
  stage: build
  image: maven:latest
  script:
  - echo "Compiling the code..."
  - cd BackEnd/DHBooking
  - mvn compile install
  artifacts:
    paths:
    - BackEnd/DHBooking/target/*.jar

deploy-frontend:
  stage: deploy
  image: python:latest
  script:
  - echo "Deploying application. FrontEnd.."
  - apt-get update
  - apt-get -y upgrade
  - apt-get install -y awscli
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
  ...

deploy-backend:
  stage: deploy
  image: alpine:3.11
  script:
  - echo "Deploying application. backend.."
  - apk update && apk add openssh-client bash
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  ...

Adjusting date format home filter
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Modify filter date
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adding solution date
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Final solution problem
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adding final solution
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Final 1.0
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Final 2.0
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Final solution dates filter
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

fix booking router
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/hooks/useForm.jsx
Due: build-frontend, deploy-frontend

fix format date and booking form prepared
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/home/search-calendar.css
Due: build-frontend, deploy-frontend

register user
  FrontEnd/src/components/Auth/Register.jsx
Due: build-frontend, deploy-frontend

Merging features devopit 24112022
  DevOpIT/Diagrama Infraestructura.png
  DevOpIT/hola.txt
Due: none

Adjusting little thing in manual tests
  BackEnd/DHBooking/.idea/codeStyles/Project.xml
  BackEnd/DHBooking/.idea/codeStyles/codeStyleConfig.xml
  BackEnd/DHBooking/.idea/workspace.xml
  Testing/SPRINT 3--/INTEGRADOR DH TESTING.xlsx
Due: build-backend, deploy-backend

session Storage with login and register
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/context/AuthContext.jsx
Due: build-frontend, deploy-frontend

merging front end features 24112022
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/home/search-calendar.css
  FrontEnd/src/context/AuthContext.jsx
  FrontEnd/src/hooks/useForm.jsx
Due: build-frontend, deploy-frontend

Adding only filter by date backend
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Adding filter products booking only with dates
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

date filter functionality
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

filtering only by date
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Merging features_backend 28112022
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

changes in location and other things
  BackEnd/DHBooking/pom.xml
Due: build-backend, deploy-backend

Adding solution to product post
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Image.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Location.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
Due: build-backend, deploy-backend

Solving user issue in register
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
Due: build-backend, deploy-backend

Merge back end 1029 28112022
  BackEnd/DHBooking/pom.xml
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/AuthController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Image.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Location.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Product.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
Due: build-backend, deploy-backend

implement submit booking form
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
Due: build-frontend, deploy-frontend

changes booking and DatesProvider
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Loading.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/styles/loading-spinner.css
  FrontEnd/src/context/DatesProvider.jsx
Due: build-frontend, deploy-frontend

context booking done
  FrontEnd/src/App.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/context/BookingContext.jsx
  FrontEnd/src/context/DatesProvider.jsx
Due: build-frontend, deploy-frontend

authcontext used in booking form
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/DropDown.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/components/booking/FormBooking.jsx
  FrontEnd/src/components/booking/HourBooking.jsx
  FrontEnd/src/components/styles/booking/form-booking.css
Due: build-frontend, deploy-frontend

create booking done
  BackEnd/DHBooking/pom.xml
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CategoryServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/ProductServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Util/DateParser.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

skeleton for filters done
  FrontEnd/src/components/Auth/Login.jsx
  FrontEnd/src/components/Auth/Register.jsx
  FrontEnd/src/components/Booking.jsx
  FrontEnd/src/components/Home/DropDown.jsx
  FrontEnd/src/components/Home/SearchBlock.jsx
  FrontEnd/src/components/Layout/Header.jsx
  FrontEnd/src/components/Main.jsx
  FrontEnd/src/components/Product-detail/ProductReservation.jsx
  FrontEnd/src/components/ProductDetail.jsx
  FrontEnd/src/components/SearchCalendar.jsx
  FrontEnd/src/components/booking/DetailBooking.jsx
  FrontEnd/src/utils/requestProductsHome.js
Due: build-frontend, deploy-frontend

deply booking 01122022 backend
  BackEnd/DHBooking/pom.xml
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/CategoryServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/ProductServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/UserServiceImpl.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Util/DateParser.java
  BackEnd/DHBooking/src/main/resources/application.properties
Due: build-backend, deploy-backend

filter by city and date solved
  FrontEnd/src/context/BookingContext.jsx
Due: build-frontend, deploy-frontend

solving wrong associated values in booking post
  FrontEnd/src/components/Booking.jsx
Due: build-frontend, deploy-frontend

checking if product is availible when dates change in booking view
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Entities/Booking.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

using DateParser Utils
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

adding endpoint to get forbbiden dates of a product
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Config/SecurityConfig.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Controller/BookingController.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Repository/IBookingRepository.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/IBookingService.java
  BackEnd/DHBooking/src/main/java/Grupo7/DHBooking/Service/impl/BookingServiceImpl.java
Due: build-backend, deploy-backend

Path conditions:
  build-frontend: any of: FrontEnd/**/*
  build-backend: any of: BackEnd/**/*
  deploy-frontend: any of: FrontEnd/**/*
  deploy-backend: any of: BackEnd/**/*
